<h2>CLIMBS</h2>

<% @climbs.each do |climb| %>
  <p><h3><%= climb.name %></h3></p>
  <p> Grade: <%= climb.grade %></p>
  <p> Trad: <%= climb.trad %></p>
  <p> Sport: <%= climb.sport %></p>
  <p> Number of Bolts: <%= climb.number_bolts %></p>
  <p> Area ID: <%= climb.area_id %></p>
<% end %>

