<h1> <%= @climb.name %></h1>
<p> Climb_ID: <%= @climb.id %></p>
<p> Grade: <%= @climb.grade %></p>
<p> Trad: <%= @climb.trad %></p>
<p> Sport: <%= @climb.sport %></p>
<p> Number_of_Bolts_kiiiid: <%= @climb.number_bolts %></p>
<p> Area_ID_Numbah : <%= @climb.area_id %></p>