<%= link_to "Back To Climbs Index", "/climbs" %>
<h1> <%= @climb.name %></h1>
<p> Climb ID: <%= @climb.id %></p>
<p> Grade: <%= @climb.grade %></p>
<p> Trad: <%= @climb.trad %></p>
<p> Sport: <%= @climb.sport %></p>
<p> Number of Bolts: <%= @climb.number_bolts %></p>
<p> Area ID Number: <%= @climb.area_id %></p>