<%= link_to "Back To Climbs Index", "/climbs" %>
<% @climbs.each do |climb| %>
  <h4><%= climb.name %></h4>
  <p>Grade: <%= climb.grade %></p>
  <p>Trad: <%= climb.trad %></p>
  <p>Sport: <%= climb.sport %></p>
  <p>Number of Bolts: <%= climb.number_bolts %></p>
<% end %>