<%= link_to "Go To Climbs Index", "/climbs" %>
<h2> <%= @area.name %> </h2>

<p> Area ID Numbah: <%= @area.id %></p>
<p> <%= @area.town %></p>
<p> Camping: <%= @area.camping %></p>
<p> Trad: <%= @area.trad %></p>
<p> Sport: <%= @area.sport %></p>
<p> Parking Spaces: <%= @area.parking_spaces %></p>
<p> Number of Climbs: <%= @area.climbs.count %></p>

