<h1> <%= @area.name %> </h1>

<p> Area_ID_Numbah: <%= @area.id %></p>
<p> <%= @area.town %></p>
<p> Camping: <%= @area.camping %></p>
<p> Trad: <%= @area.trad %></p>
<p> Sport: <%= @area.sport %></p>
<p> Parking_Spaces: <%= @area.parking_spaces %></p>

