<h2> <%= @area.name %> </h2>
<%= link_to "#{@area.name} Climbs", "/areas/#{@area.id}/climbs" %>
<p> Area ID Numbah: <%= @area.id %></p>
<p> <%= @area.town %></p>
<p> Camping: <%= @area.camping %></p>
<p> Trad: <%= @area.trad %></p>
<p> Sport: <%= @area.sport %></p>
<p> Parking Spaces: <%= @area.parking_spaces %></p>
<p> Number of Climbs: <%= @area.climbs.count %></p>

